<template>
  <div>
    <title-design :title1="$t('ti1cont')" :title2="$t('ti2cont')" :title3="$t('ti3cont')"></title-design>
    <div class="container">
      <div class="row pl-9 pr-9">
        <v-col cols="12" sm="4">
          <ul>
            <li v-for="cont in contacts" :key="cont.label" class="mb-13">
              <p>
                <span class="d-block mb-3">{{$t(cont.label)}}</span>
                <v-icon color="var(--colordefault)!important" small class="mr-3">{{$t(cont.icon)}}</v-icon> {{$t(cont.info)}}
              </p>

            </li>
          </ul>
          <div class="social">
            <p>{{$t('SocialProfiles')}}</p>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-telegram"></i>
          </div>

        </v-col>
        <v-col cols="12" sm="8">
          <p>{{$t('subtitle')}}</p>
          <v-form action="" ref="form">
            <div class="row">

              <v-col cols="12" sm="6">
                <v-text-field  v-model="formData.firstname" :rules="[rules.required]"   :label="$t('firstname')" prepend-inner-icon="mdi-account" rounded outlined class="blue-grey--text"
                               autocomplete="off" >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field v-model="formData.lastname" :rules="[rules.required]" :label="$t('lastname')" prepend-inner-icon="mdi-account" rounded outlined autocomplete="off" ></v-text-field
                >
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field v-model="formData.email" :rules="[rules.required,rules.email]" :label="$t('email')" prepend-inner-icon="mdi-account" rounded outlined autocomplete="off" ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field v-model="formData.subject" :rules="[rules.required]" :label="$t('subject')" prepend-inner-icon="mdi-account" rounded outlined autocomplete="off" ></v-text-field>
              </v-col>
              <v-textarea v-model="formData.message" :rules="[rules.required]" rounded outlined :label="$t('message')" prepend-inner-icon="mdi-chat" autocomplete="off" ></v-textarea>
            </div>
            <v-btn style="direction: ltr" color="var(--colordefault)" @click="sendEmail"><v-icon >mdi-near-me</v-icon>
              {{$t('send')}}</v-btn>

          </v-form>
        </v-col>

      </div>
    </div>
  </div>
</template>

<script>
import TitleDesign from "../../components/Home/TitleDesign";
import { required,email } from "../../plugins/FormRules";

export default {
  name: "index",
  components: {TitleDesign},
  data(){
    return{
      formData:{},
      rules: {
        required,
        email
      },
      contacts:[{label:'Phone',icon:'mdi-whatsapp',info:'+989212251981'},
        {label:'Email',icon:'mdi-email',info:'hadiseh_beheshti@yahoo.com'},
        {label:'Instagram',icon:'mdi-instagram',info:'hadis.beheshtii'}, {label:'Linkedin',icon:'mdi-linkedin',
          info:'hadis.beheshtii'}]
    }
  },
  methods:{
    async  sendEmail(){
      if (!this.$refs.form.validate())
        return
      try{
        const res=await this.$axios.post('/contact',this.formData)
        this.$refs.form.reset()
      }
      catch {

      }


    }
  }
}
</script>

<style scoped>
.social i{
  font-family: 'FontAwesome'!important;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 12px;
  border:1px solid;
  border-color: var(--colordefault);
  color: var(--colordefault);
  border-radius: 50%;
}
.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(127, 125, 125, 0.24);
  /*box-shadow: 0 3px 13px 0 rgb(82 82 88);*/
  border-radius: 10px;
  border: 1px solid;
  border-color: #393737!important;


}

.theme--dark.v-label[data-v-57bb4cfa], .theme--dark.v-icon[data-v-57bb4cfa] {
  color: #fff!important;
}

</style>
