<template>
  <div class="container">

<!--    <seting/>-->
    <div class="form">
          <h3 class="text-center mb-4">Welcome Back</h3>
        <form action="" >
          <v-text-field  label="Username" prepend-inner-icon="mdi-email"  required outlined color="var(--colordefault)"
         v-model="formData.username" ></v-text-field>
          <v-text-field type="password" label="Password" prepend-inner-icon="mdi-key" required outlined color="var(--colordefault)"
          v-model="formData.password"></v-text-field>
          <v-btn color="var(--colordefault)" style="width: 100%"  class="ma-auto " @click="login"  >Sign in</v-btn>
        </form>


    </div>

  </div>
</template>

<script>

// import seting from "../../components/setingcolor/seting";
export default {
  name: "login",
  layout:'login',
  middleware:'login',
  components: {},
  mounted() {
    console.log(this.$auth.$storage.getCookies())
  },

  data(){
    return{
      formData:{}
    }
  },
  methods:{

    async login() {
      try {
      const res=  await this.$auth.loginWith('local', {
          data: {
            username: this.formData.username,
            password: this.formData.password
          },

        })
        this.$auth.strategy.token.set(res.data.accessToken);
    await  this.$auth.setUser(res.data)
       await this.$auth.setUserToken(res.data.accessToken);
    this.$auth.$storage.setCookie('token',res.data.accessToken)
        this.$router.replace({name:'panel'})
        console.log(token)
      } catch (e) {
        this.error = e.response.data.message
      }
    }
  }
}
</script>

<style>
.color-t{
  color: #312f2f;
}
.form{
  position: absolute;
  direction: ltr;
  width: 500px;
  height: 350px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 20px 40px;
  box-shadow: 0 8px 32px 0 rgba(133, 135, 161, 0.37);
  border-radius: 10px;
  background-image: linear-gradient(to right top, #111111, #161616, #1a1a1a, #1e1e1e, #222222);
}
.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(127, 125, 125, 0.24);
  /*box-shadow: 0 3px 13px 0 rgb(82 82 88);*/
  border-radius: 10px;
  border: 1px solid;
  border-color: #393737!important;
  /*box-shadow: 0 8px 20px #2f2e2e!important;*/

}
.v-text-field input{
  padding-left: 10px;
}
/*.theme--dark.v-label {*/
/*color: #a79a9a;*/
/*}*/
#wheel-bg,.hhh{
  position: fixed;
  top: 200px;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 2px #ccc;
  cursor: pointer;
  z-index: 3;

}

</style>
