<template>
  <div class="login">
    <nuxt-link  to="/login" small color="var(--colordefault)">
      <v-icon x-small class="m-icon" > mdi-login </v-icon>{{$t('login')}}
    </nuxt-link>
  </div>
</template>

<script>

export default {
  name: "login",



}
</script>

<style scoped>

</style>
