<template>
  <div class="my-16 ml-16">
    <v-form class="mt-10">
      <v-row>
        <v-col cols="12" class="ml-6">
          <v-row v-for="(i, index) in items" :key="i.id" >
            <v-col cols="12" md="4" >
              <v-text-field
                label="key"
                outlined
                dense
                v-model="i.title"

              />

            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                label="value"
                outlined
                dense
                v-model="i.percent"
              />
            </v-col>
            <v-col cols="12" md="3">
              <v-icon
                small
                color="red"
                @click="del(i.id,index)"
              >
                mdi-delete
              </v-icon>
            </v-col>

          </v-row>

        </v-col>
        <v-row class="mx-10 my-10">
          <v-col cols="12" md="6"><v-btn @click="items.push({})" >add</v-btn>
          </v-col>
          <v-col cols="12" md="3"> <v-btn @click="sendData" color="var(--colordefault)" right>Submit</v-btn>
          </v-col>
        </v-row>

      </v-row>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "index",
  data(){
    return{
      formData:{},
      items:[],
    }
  },
  async fetch(){
    try{

      const res=await this.$axios.get('/skill');
      this.items=res.data




    }
    catch {
    }

  },
  methods:{
    async sendData(){
      const data= this.items
      const res = await this.$axios({url:'/skill/bulk',method:'post',headers:{Authorization:'auth._token.local'},data})
      console.log(res)
    },
    async del(id,index) {
       this.items.splice(index, 1)
      const dele = await this.$axios({
        url: `/skill/${id}`,
        method: 'delete',
        headers: {Authorization: 'auth._token.local'}
      })
      console.log(index)
    }


  }
}
</script>

<style scoped>

</style>
