<template>
  <div class="my-8 ml-16">
    <v-form>
      <v-row>
        <v-col cols="12" >
          <Vueditor ref="editor" style="height: 300px " class="mx-10 my-10 black--text" />
        </v-col>

        <v-col cols="12" class="ml-6">
          <v-row v-for="(i,index) in items" :key="index" >
            <v-col cols="12" md="4" >
              <v-text-field
                label="key"
                outlined
                dense
                v-model="i.key"

              />

            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                label="value"
                outlined
                dense
                v-model="i.value"
              />
            </v-col>
            <v-col cols="12" md="3">
              <v-icon
                small
                color="red"
              @click="items.splice(index,1)"
              >
                mdi-delete
              </v-icon>
            </v-col>

          </v-row>

        </v-col>
          <v-row class="mx-10 my-10">
            <v-col cols="12" md="6"><v-btn @click="items.push({})" >add</v-btn>
            </v-col>
            <v-col cols="12" md="3"> <v-btn @click="sendDataFa" color="var(--colordefault)" right>Add to Fa</v-btn>
            </v-col>
            <v-col cols="12" md="3"> <v-btn @click="sendDataEn" color="var(--colordefault)" right>Add to En</v-btn>
            </v-col>
          </v-row>

<!--        <v-col cols="12" class="ml-6">-->
<!--        </v-col>-->
      </v-row>
    </v-form>
  </div>
</template>

<script>

export default {
  name: "index",
  data(){
    return{
      formData:{},
      items:[],
    }
  },
  async fetch(){
    try{

        const res=await this.$axios.get('/fa/aboutme');
        this.items=res.data[0].items
        console.log(res.data[0])
        this.formData.description= this.$refs.editor.setContent(res.data[0].description)

    }
    catch {
    }

  },
  methods:{
    async sendDataFa(){
      const data={
        description:this.$refs.editor.getContent(),
        items:this.items

      }
      const res = await this.$axios({url:'/fa/aboutme',method:'post',headers:{Authorization:'auth._token.local'},data})

    },
    async sendDataEn(){
      const data={
        description:this.$refs.editor.getContent(),
        items:this.items

      }
      const res = await this.$axios({url:'/en/aboutme',method:'post',headers:{Authorization:'auth._token.local'},data})
    },


  }
}
</script>

<style scoped>

</style>
