<template>
  <div>
          <div id="loader-wrapper">
            <div id="loader">
              <v-progress-linear
                indeterminate
                color="yellow darken-2"
                height="10px"
              ></v-progress-linear>
            </div>
            <div class="loader-section section-top d-flex justify-center align-center "> <h1 class="text-uppercase mt-load font-weight-bold" >hadiseh</h1></div>
            <div class="loader-section section-bottom d-flex justify-center align-center"> <h1 class="text-uppercase mb-load font-weight-bold">beheshti</h1></div>
          </div>
    <v-container>


      <Login/>
      <Language/>
      <div class="row marg-t">
        <v-col cols="12" sm="6" >
          <div class="img-home">
            <img :src="$t('srcimg')" alt="">
          </div>

        </v-col>
        <v-col cols="12" sm="6"  class="d-flex flex-column justify-center">
            <div class="info-home">
              <span>{{ $t('title') }}</span>
            </div>
          <div class='typing text-center mb-4'>
            <h4>
              <span>{{$t('me')}} </span><span class='type-text'> {{ typeValue }}</span>
            </h4>
          </div>
          <p   class="mb-8 font" style="line-height: 40px  " >{{$t('description')}}</p>
          <div>
            <v-btn rounded color="var(--colordefault)" class="pa-6 margin-in" :to="localePath('/about' )"><v-icon small class="mx-2">mdi-account</v-icon>{{$t('btnmor')}}</v-btn>
            <v-btn rounded outlined color="var(--colordefault)" class="pa-6" :to="localePath('/portfolio' )"><v-icon small class="mx-2">mdi-bag-suitcase</v-icon>{{$t('btnportfolio')}}</v-btn>
          </div>


        </v-col>
      </div>
    </v-container>

  </div>
</template>

<script>
import Login from "../login/login";

export default {
  name: "HomePage",
  components: {Login},
  data(){
    return{
      // jobs:['']
      typeValue:'',
      typeStatus:false,
      typeArray:['HADIS BEHESHTI','A FREELANCER','A FRONT END'],
      typingSpeed:200,
      erasingSpeed:100,
      newTextDelay:2000,
      typeArrayIndex:0,
      charIndex:0
    }
  },
  methods:{
    typeText(){
      if (this.charIndex<this.$t('typeArray')[this.typeArrayIndex].length){
        if (!this.typeStatus)
          this.typeStatus=true;
        this.typeValue+=this.$t('typeArray')[this.typeArrayIndex].charAt(this.charIndex)
        this.charIndex+=1
        setTimeout(this.typeText,this.typingSpeed)
      }
      else {
        this.typeStatus=false
        setTimeout(this.eraseText,this.newTextDelay)

      }
    },
    eraseText(){
      if (this.charIndex > 0){
        if (!this.typeStatus)
          this.typeStatus=true;
        this.typeValue =this.$t('typeArray')[this.typeArrayIndex].substring(0,this.charIndex-1)
        this.charIndex-=1
        setTimeout(this.eraseText,this.erasingSpeed)

      }else{
        this.typeStatus=false;
        this.typeArrayIndex +=1;
        if (this.typeArrayIndex >= this.$t('typeArray').length)
          this.typeArrayIndex=0
        setTimeout(this.typeText,this.typingSpeed + 1000)

      }

    }

  },
  created() {
    setTimeout(this.typeText,this.newTextDelay + 200)

  },
  mounted() {
    window.addEventListener('load',e=>{
        setTimeout(function (){
          document.body.classList.add('loaded')
        },1000)
    })

  }

}
</script>

<style scoped lang="scss">
.mt-load{
  margin-top: 100px;
}
.mb-load{
  margin-bottom: 100px;
}
#loader-wrapper{
  position: fixed;
  font-family: 'Roboto', sans-serif!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader{
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1001;

}
#loader-wrapper .loader-section{
  position: fixed;

  width: 100%;
  height: 51%;
  background-color: #222;
  z-index: 1000;
}
#loader-wrapper .loader-section.section-top{
  top: 0;
}
#loader-wrapper .loader-section.section-bottom{
bottom: 0;
}
.loaded #loader-wrapper .loader-section.section-top{
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645,0.645,0.355,1.000);
  transition: all 0.7s 0.3s  cubic-bezier(0.645,0.645,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-bottom{
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all  0.7s 0.3s cubic-bezier(0.645,0.645,0.355,1.000);
  transition: all 0.7s 0.3s  cubic-bezier(0.645,0.645,0.355,1.000);
}
.loaded #loader-wrapper{
  visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.loaded #loader{
  opacity: 0;
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s  ease-out;
}
.marg-t{
  margin-block-start: 30px;

}
.info-home{
margin-top: 100px;
}
.img-home img{
  max-width: 100%;
}

.typing{
  display: flex;

}
.font{
  font-size: 18px;
}

h4{
  font-size: 3rem;
  overflow: hidden;
  span.type-text{
    color: var(--colordefault);
    display: inline-block;
    white-space: nowrap;
  }
  span.cursor{
    display: inline-block;
    margin-left: 3px;
    width: 2px;
    opacity: 0;
    background-color: #fff;

  }

}
.v-btn:not(.v-btn--round).v-size--default{
  width: auto;
}
@media only screen and (max-width: 700px) {
h4{
  font-size: 2rem;
}
}

</style>
