<template>
  <div>
    <v-container>
    <div class="title-about text-center ma-auto mt-8 mb-16">
      <h2 class="mb-4">{{ title1}}<span> {{ title2 }}</span></h2>
      <span class="subtitle-about mt-3">{{title3}}</span>
    </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "title",
  props:['title1','title2','title3']
}
</script>

<style scoped>
.title-about h2 span{
  /*display: inline-block;*/
  color:var(--colordefault) ;
}
.title-about h2{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 55px;
}
.subtitle-about{
  position: relative;
  display: inline-block;
}
.subtitle-about:before{
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: var(--colordefault);
  top: 11px;
  left: -43px;
}
.subtitle-about:after{
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: var(--colordefault);
  top: 11px;
  right: -43px;
}
</style>
