<template>
  <div class='lang'>

    <nuxt-link class='mb-6 text--white'

      :to="switchLocalePath('fa')"
    >
      <div class='d-flex  align-center '  >
<!--        <img src='~/assets/images/iranflag.png' alt='' height='40'>-->
        FA
      </div>
    </nuxt-link>
    <v-divider color="white" class="my-2"></v-divider>
    <nuxt-link

      :to="switchLocalePath('en')"
      >
      <div class='d-flex  align-center'  >
<!--        <img src='~/assets/images/english.png' alt='' height='35'> -->
        EN
      </div>
    </nuxt-link>


  </div>
</template>

<script>
export default {
  name: 'Language',


}
</script>

<style scoped>

</style>
