<template>
  <div class="d-flex direc">
      <div id="port" class="container ">
        <div class="wrap" @click="hideDetial"></div>
        <div class="row ">
          <v-col cols="12" >
            <title-design :title1="$t('titlepor1') " :title2="$t('titlepor2')" :title3="title3" ></title-design>

          </v-col>
        </div>
       <div class="ma-auto">

         <div class="row ">
            <v-col cols="12" md="4" sm="6"  v-for="pic in portfolio" :key="pic.id">
              <div class="list-img" @click="show">
                <img :src="pic.image" alt="" class="respon" :data-name="pic.title">
                <div class="overly">IMAGE FORMAT</div>
              </div>

            </v-col>
            </div>

          </div>
      </div>

    <template v-show="openimg">
      <div class="detail pa-7">
        <img :src="detial&&require(`/static/image/${detial}`)" alt="" class="respon rounded">
        <div class="d-flex justify-sm-space-between align-center mt-8">
          <h1 class="colordef mb-5">{{$t('format')}}</h1>
          <v-btn rounded color="var(--colordefault)" outlined class="px-5 outlinehover" @click="hideDetial">X {{ $t('close') }}</v-btn>
        </div>
        <ul>
          <li v-for="sub in subject" :key="sub.icon" class="mb-5"><i :class=sub.icon class="pr-3">
           <span class="pr-5"> {{$t(sub.title)}} : </span>{{$t(sub.desc)}}
          </i></li>
        </ul>
        <v-btn rounded class="btnhover" ><v-icon small>mdi-open-in-new</v-icon>{{$t('perview')}}</v-btn>

      </div>
    </template>

  </div>
</template>

<script>
import TitleDesign from "../../components/Home/TitleDesign";
export default {
  name: "index",
  components: {TitleDesign},

  data(){
    return{
      portfolio:[],
      openimg:false,
      detial:'',
      subject:[{icon:'fa fa-file-text-o',title:'Project',desc:'WEBSITE'},{icon:'fa fa-user-o',title:'Name',desc:this.detial},
        {icon:'fa fa-code',title:'Technologies',desc:'Nuxt'},
        {icon:'fa fa-image',title:'Format',desc:'Jpg'},{icon:'fa fa-money',title:'Budget',desc:'1550 USD'}],
      title3:''

    }
  },
  watch:{
    detial:function (val){
      this.subject[1].desc =val

    }

  },

  async fetch(){
    try{
      if(this.$i18n.locale=='fa'){
        const res=await this.$axios.get('/fa/portfolio');
        this.portfolio=res.data;
        this.title3=this.portfolio[0].subtitle;
      }else {
        const res=await this.$axios.get('/en/portfolio');
        this.portfolio=res.data
        this.title3=this.portfolio[0].subtitle;
      }


    }
    catch {

    }

  },
  methods:{
      show(e){
        this.openimg=true;
        let port=document.querySelector('#port');
        let detail= document.querySelector('.detail');
        let wrap=document.querySelector('.wrap')
        this.detial=e.path[1].children[0].getAttribute('data-name')
        console.log(this.detial)
          port.style.transform="translateX(-260px)";
         detail.style.transform="translateX(0)";
        // console.log(this.openimg)
         if(this.openimg){

           wrap.classList.add('darkly')
           port.prepend(wrap)
         }


        },





    hideDetial(){
        this.openimg=false;
      let port=document.querySelector('#port');
      let detail= document.querySelector('.detail');
      port.style.transform="translateX(274px)";
      detail.style.transform="translateX(2000px)";
      document.querySelector('.wrap').classList.remove('darkly')
      console.log(this.openimg)
    }
  }


}
</script>

<style scoped>
.list-img{
  position: relative;
  cursor: pointer;
}
.overly{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--colordefault);
  display: none;

}
.list-img:hover .overly{
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-btn:not(.v-btn--round).v-size--default{
  width: auto;

}

#port{
  transform: translateX(274px);
  position: relative;
  padding: 0 20px;
  transition: all 0.5s ease-in-out;


}
.detail{
  height: 100vh;
  width: 900px;
  background-color: #333;
  transform: translateX(2000px);
  transition: all 0.5s ease-in-out;
}
.darkly{
  position: fixed!important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}
.colordef{
  color: var(--colordefault);
}
.direc{

  direction: ltr!important;
}
i{
  font-family: 'FontAwesome'!important;
}

</style>
