@import "assets/variables.scss";

/*@font-face {*/
/*  font-family: 'iranm';*/
/*  src:url('./assets/fonts/Iran Sans medium .ttf') format("truetype") ;*/
/*}*/
@font-face {
  font-family: 'shabnam';
  font-weight: bold;
  src: url("./assets/fonts/Shabnam-Bold-FD.woff") format('woff');
}
/*@font-face {*/
/*  font-family: 'shabnam';*/
/*  font-weight: lighter;*/
/*  src: url("./assets/fonts/Shabnam-Light-FD.woff") format('woff');*/
/*}*/
@font-face {
  font-family: 'shabnam';
  font-weight: normal;
  src: url("./assets/fonts/Shabnam-Medium-FD.woff") format('woff');
}

:root{
  --colordefault:#daa520;
  --imgfa:'~/assets/images/homeright.png';
  --overlay-bg:#303234!important;
}

*{
  box-sizing: border-box;
}
.v-overlay__scrim{
  background-color: transparent!important;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.v-application a {
  color: #fff;
  text-decoration: none;
}
.respon{
  max-width: 100%;
  overflow: hidden;
}
.btnhover{
  background-color:var(--colordefault)!important ;
  transition: background-color 0.2s linear;
  padding: 10px 20px;
}
.btnhover:hover{
  background-color: #3b3a3a!important;
}
.outlinehover:hover{
  background-color:var(--colordefault)!important ;
  color: #fff!important;
  border-color: var(--colordefault)!important ;
}
.nav-list a.nuxt-link-exact-active{
  color: var(--colordefault)!important;
}
.nav-list a.nuxt-link-exact-active .container{
  /*transform: translate3d(0,0,0);*/
  background-color: red;
}
