<template>
  <v-container >
    <title-design :title1="$t('titlers1')" :title2="$t('titlers2')" :title3="$t('titlers3')"></title-design>

    <v-row class="mt-16 justify-center align-center">
    <v-col cols="12" md="5">
      <div class="my-7 mx-11">
        <h1 class="tex t-uppercase">{{$t('education')}}</h1>
        <div class="parent">
          <ul class="itemul mt-5 mb-13 " v-for="deg in degrees">
            <span class="bullet"></span>
            <li class="year"><v-icon small >mdi-calendar-month-outline</v-icon><span class="mx-3">{{deg.date}} </span></li>
            <li class="my-4"><h3>{{ $t(deg.degree) }}  {{ $t(deg.degreetype) }}<v-divider class="d-inline-block mx-3 grey darken-3" style="width: 10px" ></v-divider>
              {{$t(deg.uniname)}} {{$t(deg.uni)}}</h3></li>
            <li class="my-4"><p class="font-weight-light grey--text">{{$t(deg.descdegree)}}</p></li>
          </ul>
        </div>


      </div>


    </v-col>
    <v-col cols="12" md="5">
      <div class="my-7 mx-11">
        <h1 class="tex t-uppercase">{{$t('experience')}}</h1>
        <div class="parent">
          <ul class="itemul mt-5 mb-13 " v-for="deg in degrees2">
            <span class="bullet"></span>
            <li class="year"><v-icon small >mdi-calendar-month-outline</v-icon><span class="mx-3">{{deg.date}} </span></li>
            <li class="my-4"><h3>{{ $t(deg.degree) }}  {{ $t(deg.degreetype) }}<v-divider class="d-inline-block mx-3 grey darken-3" style="width: 10px" ></v-divider>
              {{$t(deg.uniname)}} {{$t(deg.uni)}}</h3></li>
            <li class="my-4"><p class="font-weight-light grey--text">{{$t(deg.descdegree)}}</p></li>
          </ul>
        </div>

      </div>
    </v-col>
  </v-row>
    <v-divider inset class="my-10"></v-divider>
    <div class="row justify-center">
      <v-col cols="12" md="5" sm="5" xs="5"  class="skill ml-5 mb-7 " v-for="skil in skills" :key="skil.id" >
        <p class="mr-3 mb-5  name-skil">{{skil.title}}</p>
        <span class="percent" :style="{left:skil.percent===100 ?`calc((${skil.percent}%) - (${64}px))`:skil.percent===90 ?`calc((${skil.percent}%) - (${58}px))`:`calc((${skil.percent}%) - (${37}px))`}">{{skil.percent}}%
           <div class="arrow"></div>
        </span>


        <v-progress-linear
          color="var(--colordefault)"
          height="10"
          :value= skil.percent
           :left=skil.percent
          striped

        ></v-progress-linear>
      </v-col>
    </div>
  </v-container>
</template>

<script>
import TitleDesign from "../../components/Home/TitleDesign";

export default {
  name: "index",
  components: {TitleDesign},
  data(){
    return{
      degrees:[
        {date:'2010-2014',degree:'ENGINEERING',degreetype:'DEGREE',uniname:'PAYAMNOOR',uni: 'UNIVERSITY',descdegree:'descdegree'},
        {date: '2010-2014',degree: 'ASSOCIATE',degreetype: 'DEGREE',uniname:'PAYAMNOOR',uni: 'UNIVERSITY',descdegree:'descdegree'},
        {date: '2010-2014',degree: 'BACHELOR',degreetype: 'DEGREE',uniname:'PAYAMNOOR',uni: 'UNIVERSITY',descdegree:'descdegree'},


      ],
      degrees2:[
        {date:'2020-2021',degree:'HTMLCSS',uniname:'Enghelab',uni: 'Technical',descdegree:'descdegree'},
        {date: '2020-2021',degree: 'JavaScript',uniname:'Enghelab',uni: 'Technical',descdegree:'descdegree'},
        {date: '2020-2021',degree: 'Vue',uniname:'Enghelab',uni: 'Technical',descdegree:'descdegree'},


      ],
      skills:[]
    }
  },
  async fetch(){
    const res=await this.$axios.get('/skill');
    this.skills=res.data

  }
}
</script>

<style lang="scss">
.en{
.itemul{
  position: relative;
  padding: 0 20px!important;

}
.parent{
  border-left: 1px solid;
  border-color: var(--colordefault)!important;
}

.bullet{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: var(--colordefault)!important;
  background-color: #121212;
  position: absolute;
  left: -8px;
  top: 0;
  border: 2px solid;
}
}
.fa{
  .itemul{
    position: relative;
    padding: 0 20px!important;

  }
  .parent{
    border-right: 1px solid;
    border-color: var(--colordefault)!important;
  }

  .bullet{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-color: var(--colordefault)!important;
    background-color: #121212;
    position: absolute;
    right: -8px;
    top: 0;
    border: 2px solid;
  }
}
.progress{
  width:100px;
  height:100px;
  position:relative;
  border-radius:50%;
}
.progress-bar{
  position:absolute;
  background:transparent;
  top:1px;
  left:1px;
  right:1px;
  bottom:1px;
  border-radius:50%;
  border:4px solid;
  border-color: var(--colordefault);
  padding: 10px;

}
.name-skil{
  width: 100px;
}
.theme--dark.v-progress-linear {
  color: #FFFFFF;
  background: rgb(112 100 100);
  /*box-shadow: 0 8px 32px 0 rgb(31 38 135 );*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.v-progress-linear__determinate{
  animation: aniprog 3s  infinite linear !important;

}
.skill{
  direction: ltr;
  position: relative;
  padding: 10px 40px;
}
.percent{
  position: absolute;
  width: 52px;
  border: 1px solid;
  border-color: var(--colordefault);
  top: -5px;
  padding: 10px;
  border-radius: 5px;
}
.arrow{
  border: 1px solid #ffb400;
  border-width: 0 1px 1px 0;
  background-color: #121212;
  display: inline-block;
  padding: 4px;
  transform: translateY(33.5px) rotate(45deg)
  skew( 3deg, 3deg) translateX(-27px);
  bottom: 8px;
  left: 60%;
  margin-left: 7px;
  position: absolute;
 }
@keyframes aniprog {
  0%{ background-position: 0  ;}

  100%{ background-position: 30px  ;}

}

</style>
