@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.en{
  direction: ltr;
  width: 100%;
  font-family: 'Roboto', sans-serif!important;
  .nav{
      position: fixed;
      top: 30px;
      left: 30px;
      z-index: 3;
    }

    #wheel-bg,.hhh{
      right: 0;

    }
    .lang{
      position: fixed;
      top: 40px;
      right: 30px;
    }
    .nav-bg{
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
      background: #3b3a3a;
      border-radius: 30px;
    }
    .nav-list li:first-of-type a:after,.nav-list li:nth-of-type(2) a:after,.nav-list li:nth-of-type(3) a:after
    ,.nav-list li:nth-of-type(4) a:after,.nav-list li:nth-of-type(5) a:after
    ,.nav-list li:nth-of-type(6) a:after{
      left: 22px;
    }
  .nav-list-mob li:first-of-type a:after,.nav-list-mob li:nth-of-type(2) a:after,.nav-list-mob li:nth-of-type(3) a:after
  ,.nav-list-mob li:nth-of-type(4) a:after,.nav-list-mob li:nth-of-type(5) a:after
  ,.nav-list-mob li:nth-of-type(6) a:after{
    left: 22px;
  }
    .login{
      position: fixed;
      top: 40px;
      left: 150px;

    }
    .m-icon{
      margin-right:10px;
    }
    .nav-list li a.nuxt-link-exact-active:before,.nav-list-mob li a.nuxt-link-exact-active:before{
      content: '';
      position: absolute;
      width: 3px;
      height: 16px;
      top: 38%;
      left: 57px;
      background-color:var(--colordefault);
      font-family: 'Roboto', sans-serif!important;

    }
    .margin-in{
      margin-right: 20px;
    }
    .names-color{
      background-color: #fff;
      padding: 0 14px!important;
    }
  .detail{
    direction: ltr;
  }
  }



//-------------------------------
//css for farsi
.fa {
  direction: rtl;
  font-family: 'shabnam';
  width: 100%;
    .container {
      //margin: auto 167.100px!important;
    }

    .nav {
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 3;
    }
  .v-navigation-drawer{
    right: 0!important;

  }

    #wheel-bg, .hhh {
      left: 0;
      border-radius: 0 5px 5px 0;

    }

    .lang {
      position: fixed;
      top: 40px;
      left: 30px;
    }

    .nav-bg {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      background: #3b3a3a;
      border-radius: 30px;
    }

    .nav-list li:first-of-type a:after, .nav-list li:nth-of-type(2) a:after, .nav-list li:nth-of-type(3) a:after, .nav-list li:nth-of-type(4) a:after, .nav-list li:nth-of-type(5) a:after, .nav-list li:nth-of-type(6) a:after {
      right: 22px;
    }
  .nav-list-mob li:first-of-type a:after, .nav-list-mob li:nth-of-type(2) a:after, .nav-list-mob li:nth-of-type(3) a:after, .nav-list-mob li:nth-of-type(4) a:after, .nav-list-mob li:nth-of-type(5) a:after, .nav-list-mob li:nth-of-type(6) a:after {
    right: 22px;
  }

    .login {
      position: fixed;
      top: 42px;
      right: 150px;

    }

    .m-icon {
      margin-left: 10px;
    }

    .nav-list a.nuxt-link-exact-active ,.nav-list-mob a.nuxt-link-exact-active  {
      color: var(--colordefault) !important;
    }

    .nav-list li a.nuxt-link-exact-active:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 16px;
      top: 38%;
      right: 57px;
      background-color: var(--colordefault);
      font-family: 'shabnam' !important;
    }

    .margin-in {
      margin-left: 20px;
    }

    .names-color {
      background-color: #fff;
      padding: 0 14px !important;
    }
  .detail{
    direction: rtl;
  }

  }

