<template>

      <v-app>
      <div class="main">
        <div :class='$i18n.locale'>

          <navbar/>
          <seting/>
          <vue-page-transition name="overlay-down-full">

          <nuxt/>
          </vue-page-transition>

        </div>
      </div>
  </v-app>


</template>

<script>
import Navbar from "../components/menu/navbar";
import Seting from "../components/setingcolor/seting";
// import VuePageTransition from 'vue-page-transition'
export default {
  name: "default",

  components: { Seting, Navbar},

}
</script>

<style lang="scss">
*{
  box-sizing: border-box!important;

}
ul,ol{
  padding: 0!important;
  margin: 0!important;
}
.main{
  min-height: 100vh;
  width: 100%;
  color: #fff!important;
  background-image: linear-gradient(to left, #000000, #030202, #050405, #070708, #09090b, #0d0d10, #101014, #121318, #16171e, #1a1b23, #1e1f29, #23232f);



}
//.v-btn:not(.v-btn--round).v-size--default{
//  width: auto!important;
//}
</style>
