<template>
  <v-app>
  <div class="l-login">
    <div :class='$i18n.locale'>

    <navbar/>
    <seting/>
    <nuxt/>
  </div>
  </div>
  </v-app>
</template>

<script>
import Navbar from "../components/menu/navbar";
import Seting from "../components/setingcolor/seting";
export default {
  name: "login",
  components: {Seting, Navbar}
}
</script>

<style lang="scss">

.l-login{
  background: url("static/image/loginback.jpg") right;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.nav-bg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #3b3a3a;
  border-radius: 30px;
}

</style>
