<template>
  <v-app  >

    <v-navigation-drawer class="rounded"
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      color="sidecolor"
      fixed
      app
    >
      <v-list shaped >
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img src="image/IMG_5656.JPG"></v-img>
          </v-list-item-avatar>
        </v-list-item>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      color="sidecolor"

      flat
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>

      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn @click="logout" text  small ><v-icon x-small class="m-icon" > mdi-logout </v-icon>log out</v-btn>

      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>

</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [

        {
          icon: 'mdi-information-outline',
          title: 'aboutme',
          to: '/panel/aboutme'
        },
        {
          icon: 'mdi-cog-refresh',
          title: 'skill',
          to: '/panel/skill'
        },
        {
          icon: 'mdi-face-woman-shimmer',
          title: 'portfolio',
          to: '/panel/portfolio'
        },
        {
          icon: 'mdi-face-woman-shimmer',
          title: 'portfolio(En)',
          to: '/panel/portfolioEn'
        },
        {
          icon: 'mdi-post-outline',
          title: 'blog',
          to: '/panel/blog'
        },
        {
          icon: 'mdi-post-outline',
          title: 'blogEn',
          to: '/panel/blogEn'
        }

      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: ''
    }
  },
  methods:{
     logout() {
       this.$auth.reset();
       this.$router.push('/')

     },
  }
}
</script>
<style>
.v-main__wrap {
  background-color: #111;
  padding: 0!important;
}
.v-main{
  padding: 0!important;

}
.theme--dark.v-app-bar.v-toolbar.v-sheet{
/*left: 0!important;*/
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled):hover{
  background-image: linear-gradient(to top, #2e3139, #21292d, #192020, #131615, #090a08);
}
.theme--dark.v-navigation-drawer {
  /*width: 180px!important;*/

}
.v-application .rounded {
  /*border-radius: 40px 0 0 40px!important;*/

}
</style>
