<template>
<div>
  <v-container>
    <div class="row mb-16" >
      <v-col cols="12" >
        <title-design :title1="$t('titleab1')" :title2="$t('titleab2')" :title3="aboutme.description"></title-design>

      </v-col>

      <v-col cols="12" md="5" sm="7">
        <div class="img-main">
          <img :src="$t('imgabout')" alt="">
        </div>
      </v-col>
      <v-col cols="12" md="7" sm="12" >
<!--        <div class="d-flex">-->
          <ul class="list-1 mr-9 d-flex flex-wrap">
            <v-col cols="12" sm="6" v-for="list in aboutme.items">
              <li >{{list.key}} :<span class="font-weight-light d-inline-block ml-4">
              {{list.value}}</span></li>
            </v-col>



          </ul>

        <v-btn color="var(--colordefault)" rounded><v-icon>mdi-download</v-icon>Download My cv</v-btn>


      </v-col>
    </div>

  </v-container>


</div>
</template>

<script>
import TitleDesign from "../../components/Home/TitleDesign";
export default {
  name: "index",
  components: {TitleDesign},
  data(){
    return{
      percenthtml:0,
      aboutme:{},
     skils:[],

    }
  },
  created() {
    let intval=setInterval(()=>{
      if (this.percenthtml<100){
        this.percenthtml+=.1
      }
      else{
        clearInterval(intval)
      }
    },10)
  },
    async fetch(){
     try{
       if(this.$i18n.locale=='fa'){
         const res=await this.$axios.get('/fa/aboutme');
         this.aboutme=res.data[0]

       }else {
         const res=await this.$axios.get('/en/aboutme');
         this.aboutme=res.data[0]
       }

     }
     catch {

     }

  }
}
</script>

<style >
.img-main{
  position: relative;
  display: block;
  max-width: 293px;
  margin: 0 auto;

}
.img-main img{
  display: block;
  max-width: 300px;
  z-index: 4;

}
.img-main:before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: 6px solid var(--colordefault);
  transform: translate3d(26px, 18px, -26px);
}
.list-1{
padding: 50px 0;
}
.list-1 li{
  padding: 25px 0;
}

</style>
