<template>
  <div class="container">
    <title-design :title1="$t('titlecont1')" :title2="$t('titlecont2')" :title3="blogtitle"></title-design>
    <div class="row d-flex  align-center justify-center">
      <v-col cols="12" sm="6" v-for="post in blogs" :key="post.addres" class="d-flex flex-column align-center justify-center ">
       <div class="box rounded">
         <img :src="post.image" alt="" class="respon " >
       </div>
        <div class="mb-10 mt-7 ">
         <h4> <nuxt-link to="/" class="mb-3 font-weight-600  d-inline-block letter">{{post.content}}</nuxt-link></h4>
          <p class="color-gray">{{post.shortDesctiption}}</p>
          <v-btn left rounded class="btnhover" >{{ $t('readmore') }}</v-btn>

        </div>

      </v-col>
    </div>

  </div>
</template>

<script>
import TitleDesign from "../../components/Home/TitleDesign";
export default {
  name: "index",
  components: {TitleDesign},
  data(){
    return{
      blogs:'',
      blogtitle:''

    }
  },
  async fetch(){
    try{
      if(this.$i18n.locale=='fa'){
        const res=await this.$axios.get('/fa/blog');
        this.blogs=res.data
        this.blogtitle=res.data[0].title


      }else {
        const res=await this.$axios.get('/en/blog');
        this.blogs=res.data
        this.blogtitle=res.data[0].title
      }

    }
    catch {

    }

  }
}
</script>

<style scoped>
.color-gray{
  color: #aea7a7;
}
.letter{
  letter-spacing: 1px;
}
.letter:hover{
  color: var(--colordefault);
}
.box{
  overflow: hidden;
  cursor: pointer;

}
.box img{
  transition: 1s;
  width: 100%;
}
.box:hover img{
  border-radius: 10px;
  transform: scale(1.3);

}

</style>
