<template>
  <div class="my-8 ml-16">
    <v-simple-table class="my-16 ml-16">
      <template v-slot:default>
        <thead class="mt-10">
        <tr>
          <td class="ml-10">
            <v-textarea v-model="fieldsubtext" outlined class="text-center" ></v-textarea>
          </td>
        </tr>
        <tr>
          <th class="text-left">
            image
          </th>
          <th class="text-left">
            title
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for="(i,index) in preItems"
          :key="index"

        >
          <td>
            <img :src="i.image" alt="" width="100px">
          </td>
          <td>
            {{i.title}}

          </td>
          <td>
            <v-icon
              small
              @click="editField(i.id,index)"
            >
              mdi-pencil
            </v-icon>

            <v-icon
              small

            >
              mdi-delete
            </v-icon>

          </td>


        </tr>
        </tbody>
        <v-dialog v-model="dialog"  width="800">
          <v-form style="background-color: #1f1e1e" class="pa-8 overflow-hidden" >
            <v-row  class="d-flex flex-wrap align-center justify-center" >
              <v-col cols="12" md="5">
                <img :src="fieldimg" alt="" style="max-width: 100%">
                <input type="file" @change="getImage" class="upload">
              </v-col>
              <v-col cols="12" md="5">
                <v-textarea outlined v-model="fieldText"></v-textarea>
              </v-col>


            </v-row>

            <v-btn
              color="primary"
              text
              @click="dialog = false"
            >
              cancel
            </v-btn>
            <v-btn
              color="primary"
              text
              @click="changeImage"
            >
              save
            </v-btn>
          </v-form>




        </v-dialog>

      </template>
    </v-simple-table>

  </div>
</template>

<script>
export default {
  name: "portfolio",
  data(){
    return{
      files: [],
      desserts: [],
      formData:{},
      preItems:{},
      dialog: false,
      fieldimg:'',
      imagename:'',
      originalImg: '',
      fieldText:'',
      fieldsubtext:'',
      val:null


    }

  },
  async fetch(){
    try{
      const res=await this.$axios.get('/en/portfolio');
      this.preItems=res.data
      this.fieldsubtext=this.preItems[0].subtitle
    }
    catch {

    }

  },



  methods:{
    selectImg(e){
      this.formData.file=e[0]
      this.formData.title=e[0].name
    },
    editField(val,index){
      this.dialog=true
      this.val=val;
      this.indexitem=index
      let data=  this.preItems.find(i=>{
        return  i.id===val;
      })

      this.fieldimg=data.image;
      this.fieldText=data.title
    },
    getImage(e){
      let image=e.target.files[0];
      this.originalImg = image
      this.imagename=image.name;
      let reader=new FileReader();
      reader.readAsDataURL(image);
      reader.onload=e=>{
        this.fieldimg=e.target.result
      }

    },
    async changeImage(){
      const data={
        title: this.imagename,
        link:'https://test.com',
        file:this.originalImg
      }
      const formData = new FormData()
      for(const i in data) {
        formData.append(i, data[i])
        console.log('this i:'+i,'this data:' + data[i])
      }
      this.preItems[this.indexitem].image=this.fieldimg;
      this.dialog=false


      //
      const  update= await this.$axios({url:`/en/portfolio/${this.val}`,method:'put',headers:{Authorization:'auth._token.local'},

        data:formData  })


    }

  }
}
</script>

<style scoped>
.v-input__slot{
  margin-left: 150px!important;
  margin-top: 10px;
  text-align: center;
  direction: rtl;
}
.upload{
  color: var(--colordefault);
}

</style>
