<template>
  <div>
    <HomePage/>
  </div>
</template>

<script>
import HomePage from "../components/Home/HomePage";
export default {
  name: "index",
  components: {HomePage}
}
</script>

<style scoped>

</style>
