<template>
  <div>

    <nuxt-child/>

  </div>
</template>
<script>
// import { mapGetters } from 'vuex'
export  default {
  name:'panel',
  // computed: {
  //   ...mapGetters(['isAuthenticated'])
  // },
  data(){
    return{

    }
  },
  layout:'panel',
  middleware: 'panel'
}
</script>
