<template>
  <div>
    <template v-if="wheel_show">
      <div id="wheel-bg" class="d-flex justify-center align-center"@click="wheel_show=!wheel_show">
        <v-icon color="#000" class="wheel">mdi-cog</v-icon>

      </div>
    </template>
    <template v-if="!wheel_show">
      <div>
        <div class="hhh d-flex justify-center">

          <div id="close-list" @click="wheel_show=!wheel_show">
            <v-icon color="black">mdi-close-outline</v-icon>
          </div>
          <div id="list_color" >
            <h4 class="black--text pt-2">STYLE SWITCHER</h4>
            <v-divider class="grey mx-2" ></v-divider>
            <ul class="names-color">
              <li v-for="color in colors" @click="setTheme">
                <img :src="require(`~/assets/images/${color.addres}`)" :alt="color.name" >
              </li>
            </ul>

          </div>
        </div>
      </div>





    </template>

  </div>
</template>

<script>
export default {
  name: "seting",
  data(){
    return{
      wheel_show:true,
      colors:[{name:'red',addres:'red.png'},{name: 'yellow',addres: 'yellow.png'},{name: 'blue',addres: 'blue.png'},
        {name: 'green',addres: 'green.png'},
        {name: 'magenta',addres: 'magenta.png'},{name: 'orange',addres: 'orange.png'},
        {name: 'goldenrod',addres: 'goldenrod.png'}
        ,{name: 'yellowgreen',addres: 'yellowgreen.png'}
      ]
    }
  },
  methods:{
    setTheme(e){
      this.$store.dispatch('getColor', e.target.getAttribute('alt'))
    }
  }
}
</script>

<style scoped>

.wheel{
  animation:rotate 2s infinite linear ;
}
#wheel-bg,.hhh{
  position: fixed;
  top: 200px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 2px #ccc;
  cursor: pointer;
  z-index: 3;

}
#list_color{
  flex-wrap: wrap;
  width: 170px;
}

.names-color li{
  display: inline-block;
}
.hhh{
width: 220px;
}
#close-list{
  cursor: pointer;
  width: 34px;
  height: 34px;
  color: #000;
  background-color: #fff;
  text-align: center;
  margin: auto;
}
@keyframes rotate {
  0%{transform: rotate(0)}
  100%{transform: rotate(360deg)}
}
</style>
