<template>
  <div>
<!--    <vue-page-transition name="fade-in-down">-->

    <div class="nav" @click="showmenu">

      <template v-if="hideMenu">
                <nuxt-link to=""  class="nav-trigger">
                  <span></span>
                </nuxt-link>
      </template>

      <template v-if="!hideMenu" >
<!--        <div class="aninav">-->

        <nuxt-link to="/"  class="nav-trigger-show">
          <span></span>
        </nuxt-link>
        <template v-if="widthPage > 1430 ">

          <ul class="nav-list">
            <li v-for="list in lists" :key="list.name">
              <nuxt-link :to="localePath(list.root )">
                <span>{{ $t(list.name) }}</span>
              </nuxt-link>
            </li>
          </ul>

          <span class="nav-bg nav-list-toggle"></span>
        </template>

        <template v-if="widthPage<=1430">
          <ul class="nav-list-mob">
            <li v-for="list in lists" :key="list.name">
              <nuxt-link :to="localePath(list.root )">
                <span>{{ $t(list.name) }}</span>
              </nuxt-link>
            </li>
          </ul>

        </template>



      </template>





    </div>
<!--    </vue-page-transition>-->

  </div>


</template>

<script>
export default {
  name: "navbar",
  data(){
    return{
      hideMenu:true,
      lists:[{name:'HOME',root:'/'},{name: 'ABOUT',root:'/about'},{name: 'RESUME',root:'/resume'},
        {name:'PORTFOLIO',root: '/portfolio'},{name:'CONTACT',root: '/contact' },{name: 'BLOG',root: '/blog'}],
      // lists2:[{name:'HOME',root:'/'},{name: 'ABOUT',root:'/about'},{name: 'RESUME',root:'/resume'},
      //   {name:'PORTFOLIO',root: '/portfolio'},{name:'CONTACT',root: '/contact' },{name: 'BLOG',root: '/blog'}],

      drawer: true,
      group: null,
      widthPage:''




    }
  },
  watch: {
    group () {
      this.drawer = false
    },
  },
  methods:{
    showmenu(){
      this.hideMenu=!this.hideMenu
    },
    getSize(){
      this.widthPage = window.innerWidth;


    }


  },
  mounted() {
    window.addEventListener('resize',this.getSize)
    this.getSize();
  },
  destroyed() {
    window.removeEventListener('resize',this.getSize)
  }

}
</script>

<style>


.nav-lis li a:hover,.nav-list li a:active,.nav-lis-mob li a:hover,.nav-list-mob li a:active{
  color: var(--colordefault)!important;

}
.nav-list li span{
  display: block;
transform: translateX(0);
  transition: all 0.5s;

}
.nav-list li span:hover{
transform: translateX(10px);


}


.nav-trigger,.nav-trigger-show{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #3b3a3a;

}
.nav-trigger span{

  width: 16px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.nav-trigger-show span{
  width: 16px;
  height: 2px;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.nav-trigger span:before{
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  top: 8px;
  background-color: #fff;
}
.nav-trigger span:after{
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  bottom: 8px;
  background-color: #fff;
}
.nav-trigger-show span:before{
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.nav-trigger-show span:after{
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.nav-list{
  position: relative;
  padding: 53px 0 22px!important;
  list-style: none;
}

.nav-list-mob{
  position: relative!important;
  height: auto!important;
  top: 38px!important;
  z-index: 100;
  right: 0.5px;
  background-color: #3b3a3a;
  width: 175px;
  /*padding: 20px 13px 10px 0!important;*/
  border-radius: 10px 0 0 10px;
  font-size: 13px;

}

.nav-list a,.nav-list-mob a{
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  padding: 2px 70px!important;
}

.nav-list li:first-of-type a:after,.nav-list li:nth-of-type(2) a:after,.nav-list li:nth-of-type(3) a:after
,.nav-list li:nth-of-type(4) a:after,.nav-list li:nth-of-type(5) a:after
,.nav-list li:nth-of-type(6) a:after{
  content: "\f015";
  position: absolute;
  font-family: 'FontAwesome';
  height: 16px;
  width: 16px;
  top: 3px;
  text-align: center;

}
.nav-list-mob li:first-of-type a:after,.nav-list-mob li:nth-of-type(2) a:after,.nav-list-mob li:nth-of-type(3) a:after
,.nav-list-mob li:nth-of-type(4) a:after,.nav-list-mob li:nth-of-type(5) a:after
,.nav-list-mob li:nth-of-type(6) a:after{
  content: "\f015";
  position: absolute;
  font-family: 'FontAwesome';
  height: 16px;
  width: 16px;
  top: 3px;
  text-align: center;

}

.nav-list-mob li{
  margin-bottom: 10px;
  white-space: nowrap;
}

.nav-list li:nth-of-type(2) a:after,.nav-list-mob li:nth-of-type(2) a:after{
  content: "\f007";
}
.nav-list li:nth-of-type(3) a:after,.nav-list-mob li:nth-of-type(3) a:after{
  content: "\f0b1";
}
.nav-list li:nth-of-type(4) a:after,.nav-list-mob li:nth-of-type(4) a:after{
  content: "\f0e6";
}
.nav-list li:nth-of-type(5) a:after,.nav-list-mob li:nth-of-type(5) a:after{
  content: "\f2b6";
}

@keyframes slide-in {
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}


</style>
